.pdf-container {
    margin-top: 6rem;
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: aqua;
    color: black;

}

.pdf-container > *{
    width: 80%;
    margin: auto;

}