@import '../../global.scss';

.projectsOverview{
    width: 100%;  

    .container {
        width: 90%;
        margin: auto;

        @include desktop{
            width: 80%;
            max-width: 1200px;
        }

        .item{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           

            .border{
                margin-bottom: 1rem;
                
                width: 70%;
                border-bottom: 2px solid rgba(0, 0, 0, 0.4);

            }

           
        }
    }
     
}


   