@import '../../global.scss';

.sections {
    width:100%;
    height: calc(100vh - 70px);
    position: relative;
    // top: 70px;
    
    scroll-behavior: smooth;
   
    scrollbar-width: none; //fairfox
    &::-webkit-scrollbar {
        display: none;
    }

    @include desktop{
        scroll-snap-type: y mandatory;

    }

     > *{
        min-height: calc(100vh - 70px);
        width: 100vw;
        scroll-snap-align: start;
     }
    }