@import  '../../../global.scss';

.works{
    width: 100%;  
    background-color: #c0b5d4;
    position: relative;

    @include desktop {
        height: calc(100vh - 70px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .arrow {
        display: none;

        @include desktop{
            display: block;
            height: 50px;
            position: absolute;
            cursor: pointer;
        }
   
        &.left{
            left:30px;
            transform:rotateY(180deg);
        }

        &.right{
            right: 30px;
        }
    }


   .slider {
       position: relative;
       
       @include desktop {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(100vh - 70px);
            position: absolute;
            left: 0;
            transition: all 1s ease-out;
       }

       .container {
           width: 90%;
           margin: 20px auto;
           padding: 10px;

           @include desktop {
                width: 100vw;
                display:flex;
                align-items: center;
                justify-content: center;
            }

           .item {
               background-color: white;
               border-radius: 10px;
               padding: 10px;

               @include desktop {
                   width: 700px;
                   max-width: 80%;
               }
           }
       }
    }

     
}


   




//             .item {
//                 width: 700px;
//                 height: 100%;
//                 background-color: white;
//                 border-radius: 20px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;

//                 @include mobile {
//                     width: 90%;
//                     height: 250px;
//                     margin: 100px 0;

//                 }

  